body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F2F2F2;
}

ul{
    list-style: none;
}

.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 0px;
}

a, a:visited {
    color: darkgreen;
}

.link, .link:visited {
    color: #000000;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.small-text{
    font-size: small !important;
}